@tailwind base;
@tailwind components;
@tailwind utilities;

/* your custom styles below */
html,body { height:100%; }

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply  text-[#991b1b] tracking-wide;
  }
/* 
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  } */

  h1 {
  
    @apply text-4xl sm:text-5xl md:text-6xl xl:text-8xl;
  }
  h2 {
    @apply text-3xl md:text-4xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer  ;  
  }
  button {
    @apply shadow-md text-orange-50 shadow-gray-400  uppercase bg-[#7f1d1d];   }
  
}


